In [1]:
import pandas as pd
import numpy as np

In [2]:
print(pd.__version__)
print(np.__version__)

2.3.0
2.3.1

In [3]:
series1=pd.Series([10,20,30,40])
print(series1)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
s1=pd.Series()
s1
print(s1)

Series([], dtype: object)

In [5]:
months=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
noofdays=[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
series=pd.Series(noofdays, index=months)
print("Series of months and number of days: ",series)

Series of months and number of days:  Jan    31
Feb    28
Mar    31
Apr    30
May    31
Jun    30
Jul    31
Aug    31
Sep    30
Oct    31
Nov    30
Dec    31
dtype: int64

In [6]:
series1=pd.Series(range (5))
print(series1)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [7]:
series=pd.Series(range(1,15,3),index =[x for x in 'abcde'])
print(series)

a     1
b     4
c     7
d    10
e    13
dtype: int64

In [8]:
series = pd.Series([2,4,6,8,9.5])
print(series)

0    2.0
1    4.0
2    6.0
3    8.0
4    9.5
dtype: float64

In [9]:
subj=pd.Series([7.,5.4,np.nan,-35.5])
print(subj)

0     7.0
1     5.4
2     NaN
3   -35.5
dtype: float64

In [10]:
departments = ['HR','Finance','IT','Civil','EC']
default_salary = 50000
salary_series = pd.Series(default_salary, index = departments)
print(salary_series)

HR         50000
Finance    50000
IT         50000
Civil      50000
EC         50000
dtype: int64

In [11]:
orders= ["order_101","order_102","order_103"]
status_series=pd.Series("Pending", index=orders)
print(status_series)

order_101    Pending
order_102    Pending
order_103    Pending
dtype: object

In [12]:
employees=["EMP_101","EMP_102","EMP_103"]
status_series=pd.Series("Active", index=employees)
print(status_series)

EMP_101    Active
EMP_102    Active
EMP_103    Active
dtype: object

In [13]:
product_prices=pd.Series([2499,3999,1099,999], index=["PPD001","PPD002","PPD003","PPD004"])
print(product_prices)

PPD001    2499
PPD002    3999
PPD003    1099
PPD004     999
dtype: int64

In [14]:
product_prices ={'Laptop': 50000,'Phone': 15000, 'Tablet': 10000}

price_series = pd.Series (product_prices)
print (price_series)

Laptop    50000
Phone     15000
Tablet    10000
dtype: int64

In [15]:
student_marks = { 'Ankit' : 85 , 'Shreya' : 90, 'Bhawana' : 95 }
print("===================student marks=======================")
marks_series = pd.Series(student_marks)
print(marks_series)
print("===================student marks=======================")
print("\n")
print("===================employee_roles=======================")

employee_roles ={'E01' : 'Manager', 'E02' : 'Head', 'E03' : 'Engg'}
employee = pd.Series(employee_roles)
print(employee)
print("===================employee_roles=======================")

===================student marks=======================
Ankit      85
Shreya     90
Bhawana    95
dtype: int64
===================student marks=======================


===================employee_roles=======================
E01    Manager
E02       Head
E03       Engg
dtype: object
===================employee_roles=======================

In [16]:
nested_data = {
    'Laptop': {'Price':50000,'Stock':25},
    'Phone': {'Price': 20000, 'Stock': 50},
    'Tablet': {'Price':10000, 'Stock': 30}
}

multi_series = pd.Series(nested_data).apply(pd.Series).stack()
print(multi_series)

Laptop  Price    50000
        Stock       25
Phone   Price    20000
        Stock       50
Tablet  Price    10000
        Stock       30
dtype: int64

In [17]:
numbers= [1,2,3,4,5]
squares = pd .Series (map(lambda x : x**2, numbers))
print ("==============================================square of 1 to 5===========================================")
print(squares)
cube = pd.Series (map(lambda x : x**3, numbers))
print ("==============================================cube of 1 to 5===========================================")
print(cube)

==============================================square of 1 to 5===========================================
0     1
1     4
2     9
3    16
4    25
dtype: int64
==============================================cube of 1 to 5===========================================
0      1
1      8
2     27
3     64
4    125
dtype: int64

In [18]:
angles = [10,20,30,40,50]
sine_values = pd.Series(np.sin(np.radians(angles)), index = angles)
print (sine_values)

10    0.173648
20    0.342020
30    0.500000
40    0.642788
50    0.766044
dtype: float64

In [19]:
sqt = pd.Series(np.sqrt([2,3,4,5,6,7,8,9]))
print(sqt)

0    1.414214
1    1.732051
2    2.000000
3    2.236068
4    2.449490
5    2.645751
6    2.828427
7    3.000000
dtype: float64

In [20]:
exponents = pd.Series(np.exp([2,3,4,5,6,7,8,9]))
print(exponents)

0       7.389056
1      20.085537
2      54.598150
3     148.413159
4     403.428793
5    1096.633158
6    2980.957987
7    8103.083928
dtype: float64

In [21]:
arr=np.array([10,20,30,40,50])
series=pd.Series(arr)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [22]:
arr=np.array([85,90,75,60])
students=['Smriti','Hemant','Avinash','Shashank']
marks_series=pd.Series(arr, index=students)
print(marks_series)

Smriti      85
Hemant      90
Avinash     75
Shashank    60
dtype: int64

In [23]:
arr=np.linspace(0,1,5)
lin_series=pd.Series(arr)
print(lin_series)

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [24]:
names=['Smriti','Shashank','Hemant','Avinash','Shivam']
marks=[85,67,90,89,75]
students_df=pd.Series(names,marks)
print(students_df)

85      Smriti
67    Shashank
90      Hemant
89     Avinash
75      Shivam
dtype: object

In [25]:
high_scorers=students_df[students_df.index>80]
print(high_scorers)

85     Smriti
90     Hemant
89    Avinash
dtype: object

In [26]:
students_df.index=students_df.index+5
print(students_df)

90      Smriti
72    Shashank
95      Hemant
94     Avinash
80      Shivam
dtype: object

In [27]:
students_df.index=students_df.index-5
print(students_df)

85      Smriti
67    Shashank
90      Hemant
89     Avinash
75      Shivam
dtype: object

In [28]:
marks=pd.Series([85,67,90,89,75], index=['Smriti','Shashank','Hemant','Avinash','Shivam'])
print("Students marks series:")
print(marks)

Students marks series:
Smriti      85
Shashank    67
Hemant      90
Avinash     89
Shivam      75
dtype: int64

In [29]:
average_marks=marks.mean()
above_avg_students=marks[marks>average_marks]
print(above_avg_students)

Smriti     85
Hemant     90
Avinash    89
dtype: int64

In [30]:
marks_adjusted=marks.where(marks>=80, marks+5)
print(marks_adjusted)

Smriti      85
Shashank    72
Hemant      90
Avinash     89
Shivam      80
dtype: int64

In [31]:
result_status=pd.Series(['Pass' if m>=75 else 'Fail' for m in marks], index=marks.index)
print(result_status)

Smriti      Pass
Shashank    Fail
Hemant      Pass
Avinash     Pass
Shivam      Pass
dtype: object

In [32]:
df1=pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [33]:
year1 = {'Q1':5000,'Q2':8000,'Q3':12000,'Q4':18000}
year2 = {'A':13000,'B':14000,'C':12000}
totalSales = {1:year1, 2:year2}
df2 = pd.DataFrame(totalSales)
print(df2)

          1        2
Q1   5000.0      NaN
Q2   8000.0      NaN
Q3  12000.0      NaN
Q4  18000.0      NaN
A       NaN  13000.0
B       NaN  14000.0
C       NaN  12000.0

In [34]:
list1=[10,20,30,40,50]
df1=pd.DataFrame(list1)
print(df1)

    0
0  10
1  20
2  30
3  40
4  50

In [35]:
data1=[['Hemant',22],['Smriti',20],['Avinash',18]]
idx=['Stud1','Stud2','Stud3']
df1=pd.DataFrame(data1,index=idx,columns=['Name','Age'])
print(df1)

          Name  Age
Stud1   Hemant   22
Stud2   Smriti   20
Stud3  Avinash   18

In [36]:
data=[[1101,'Hemant',90],[1102,'Smriti',85],[1103,'Avinash',80],[1104,'Shashank',79]]
df=pd.DataFrame(data,columns=['RollNo','Name','Marks'])
print(df)

   RollNo      Name  Marks
0    1101    Hemant     90
1    1102    Smriti     85
2    1103   Avinash     80
3    1104  Shashank     79

In [37]:
series=pd.Series([1,2,3,4,5])
df1=pd.DataFrame(series)
print(df1)

   0
0  1
1  2
2  3
3  4
4  5

In [38]:
student_marks=pd.Series({'Hemant':90,'Smriti':85,'Avinash':80,'Shashank':79})
student_age=pd.Series({'Hemant':21,'Smriti':20,'Avinash':22,'Shashank':20})
student_df=pd.DataFrame({'Marks': student_marks, 'Age': student_age})
print(student_df)

          Marks  Age
Hemant       90   21
Smriti       85   20
Avinash      80   22
Shashank     79   20

In [39]:
student={'Name':['Hemant','Smriti','Avinash'],'English':[90,89,80],'Maths':[95,80,85],'Hindi':[99,90,85]}
df=pd.DataFrame(student)
print(df)

      Name  English  Maths  Hindi
0   Hemant       90     95     99
1   Smriti       89     80     90
2  Avinash       80     85     85

In [41]:
n=pd.Series(['Hemant','Smriti','Avinash','Shashank'])
Eng=pd.Series([89,85,80,82])
Mth=pd.Series([95,89,90,85])
Hin=pd.Series([99,90,95,80])
Stud_Result={"Name":n, "English":Eng, "Maths":Mth, "Hindi":Hin}
df=pd.DataFrame(Stud_Result)
print(df)

       Name  English  Maths  Hindi
0    Hemant       89     95     99
1    Smriti       85     89     90
2   Avinash       80     90     95
3  Shashank       82     85     80

In [42]:
data=[{'Name':'Smriti', 'Age':20, 'Department':'HR'},
      {'Name':'Hemant', 'Age':21, 'Department':'IT'},
      {'Name':'Avinash', 'Age':22, 'Department':'Finance'},
      {'Name':'Shashank', 'Age':20, 'Department':'Payroll'}]
df=pd.DataFrame(data)
print(df)

       Name  Age Department
0    Smriti   20         HR
1    Hemant   21         IT
2   Avinash   22    Finance
3  Shashank   20    Payroll

In [43]:
arr=np.random.randint(1,100,5)
random_series=pd.Series(arr)
print(random_series)

0     7
1    57
2    92
3    70
4    59
dtype: int32

In [44]:
data={
     'Name':['Hemant','Smriti','Avinash','Shashank'],
     'Age':[21,20,22,20],
     'Department':['HR','IT','Finance','Payroll']
 }
df=pd.DataFrame(data)
print(df)
print('Shape:',df.shape)
print('Size:',df.size)
print('Columns:',df.columns)
print('Index:',df.index)
print('Data Types:\n',df.dtypes)
print('Values:\n',df.values)
print('Number of Dimensions:',df.ndim)
print('Is DataFrame empty?:',df.empty)
print('Transpose:\n',df.T)

       Name  Age Department
0    Hemant   21         HR
1    Smriti   20         IT
2   Avinash   22    Finance
3  Shashank   20    Payroll
Shape: (4, 3)
Size: 12
Columns: Index(['Name', 'Age', 'Department'], dtype='object')
Index: RangeIndex(start=0, stop=4, step=1)
Data Types:
 Name          object
Age            int64
Department    object
dtype: object
Values:
 [['Hemant' 21 'HR']
 ['Smriti' 20 'IT']
 ['Avinash' 22 'Finance']
 ['Shashank' 20 'Payroll']]
Number of Dimensions: 2
Is DataFrame empty?: False
Transpose:
                  0       1        2         3
Name        Hemant  Smriti  Avinash  Shashank
Age             21      20       22        20
Department      HR      IT  Finance   Payroll

In [45]:
data={
     'EmpId':[101,102,103,104],
     'EmpName':['Hemant','Smriti','Avinash','Shashank'],
     'Designation':['Manager','Developer','Analyst','HR'],
     'Salary':[50000,40000,35000,30000],
     'Bonus':[5000,4000,3000,2000]
 }
Employee=pd.DataFrame(data)
print(Employee)
print(Employee[['EmpName','Designation']])

   EmpId   EmpName Designation  Salary  Bonus
0    101    Hemant     Manager   50000   5000
1    102    Smriti   Developer   40000   4000
2    103   Avinash     Analyst   35000   3000
3    104  Shashank          HR   30000   2000
    EmpName Designation
0    Hemant     Manager
1    Smriti   Developer
2   Avinash     Analyst
3  Shashank          HR

In [46]:
Employee.loc[len(Employee)]=[105,'Devika','Tester',50000,5000]
print(Employee)

   EmpId   EmpName Designation  Salary  Bonus
0    101    Hemant     Manager   50000   5000
1    102    Smriti   Developer   40000   4000
2    103   Avinash     Analyst   35000   3000
3    104  Shashank          HR   30000   2000
4    105    Devika      Tester   50000   5000

In [50]:
Employee.loc[Employee['EmpName']=='Smriti',['Salary','Bonus']]=[0,0]
print(Employee)

   EmpId   EmpName Designation Salary Bonus
0    101    Hemant     Manager  50000  5000
1    102    Smriti   Developer      0     0
2    103   Avinash     Analyst  35000  3000
3    104  Shashank          HR  30000  2000
4    105    Devika      Tester  50000  5000

In [51]:
Employee=Employee[Employee.EmpId !=104]
print(Employee)

   EmpId  EmpName Designation Salary Bonus
0    101   Hemant     Manager  50000  5000
1    102   Smriti   Developer      0     0
2    103  Avinash     Analyst  35000  3000
4    105   Devika      Tester  50000  5000

In [52]:
sorted_emp=Employee.sort_values(by='Salary',ascending=False)
print(sorted_emp)

   EmpId  EmpName Designation Salary Bonus
0    101   Hemant     Manager  50000  5000
4    105   Devika      Tester  50000  5000
2    103  Avinash     Analyst  35000  3000
1    102   Smriti   Developer      0     0

In [53]:
high_salary_emp=Employee[Employee['Salary']>35000]
print(high_salary_emp)

   EmpId EmpName Designation Salary Bonus
0    101  Hemant     Manager  50000  5000
4    105  Devika      Tester  50000  5000

In [54]:
print("\n=== Descriptive Statistics ===")
print(Employee[['Salary','Bonus']].describe())

=== Descriptive Statistics ===
        Salary  Bonus
count        4      4
unique       3      3
top      50000   5000
freq         2      2

In [55]:
print(Employee.iloc[2])

EmpId              103
EmpName        Avinash
Designation    Analyst
Salary           35000
Bonus             3000
Name: 2, dtype: object