In [1]:
import pandas as pd

In [2]:
employee_df = pd.read_csv("Employee.csv")
print(employee_df)

   EmpId   EmpName  Age     City Country
0    101   Saurabh   28  Lucknow   India
1    102    Smriti   25    Delhi   India
2    103       Raj   30   Mumbai   India
3    104     Aditi   27     Pune   India
4    105     Arnav   19    Delhi   India
5    106    Dinesh   48   Mumbai   India
6    107    Manish   27    Delhi   India
7    108  Shraddha   38  Lucknow   India
8    108    Nishka   12    Noida   India

In [3]:
print("No of rows and cols ")
print(employee_df.shape)

No of rows and cols
(9, 5)

In [4]:
employee_df = pd.read_csv("Employee.csv", usecols = ['EmpName','Age','City'])
print(employee_df)

    EmpName  Age     City
0   Saurabh   28  Lucknow
1    Smriti   25    Delhi
2       Raj   30   Mumbai
3     Aditi   27     Pune
4     Arnav   19    Delhi
5    Dinesh   48   Mumbai
6    Manish   27    Delhi
7  Shraddha   38  Lucknow
8    Nishka   12    Noida

In [6]:
print(employee_df.loc[2])

EmpName       Raj
Age            30
City       Mumbai
Name: 2, dtype: object

In [7]:
print(employee_df[employee_df['Age']>26])

    EmpName  Age     City
0   Saurabh   28  Lucknow
2       Raj   30   Mumbai
3     Aditi   27     Pune
5    Dinesh   48   Mumbai
6    Manish   27    Delhi
7  Shraddha   38  Lucknow

In [ ]:
employee_df["Department"]