In [10]:
import pandas as pd
import numpy as np

In [11]:
emp_df = pd.read_csv('Employee1.csv')
dept_df = pd.read_csv('Department2.csv')

# Preview
print(emp_df.head())
print(dept_df.head())

   EmpID      Name  Age DeptID  Salary
0    101    Smriti   25   D001   55000
1    102     Ankur   28   D002   60000
2    103      Neha   30   D001   58000
3    104  Shashank   26   D003   52000
4    105     Priya   32   D004   65000
  DeptID DepartmentName   Location
0   D001             HR      Delhi
1   D002             IT  Bangalore
2   D003        Finance     Mumbai
3   D005      Marketing  Hyderabad

In [12]:
# Convert salary column to NumPy array
salaries = emp_df['Salary'].values
print("NumPy Salaries Array:", salaries)

# Use numpy to calculate stats
print("Total Salary (np.sum):", np.sum(salaries))
print("Average Salary (np.mean):", np.mean(salaries))
print("Max Salary (np.max):", np.max(salaries))
print("Min Salary (np.min):", np.min(salaries))

NumPy Salaries Array: [55000 60000 58000 52000 65000 61000]
Total Salary (np.sum): 351000
Average Salary (np.mean): 58500.0
Max Salary (np.max): 65000
Min Salary (np.min): 52000

In [13]:
# Inner join
merged_inner_df = pd.merge(emp_df, dept_df, on='DeptID', how='inner')
print(merged_df.head())

   EmpID      Name  Age DeptID  Salary DepartmentName   Location
0    101    Smriti   25   D001   55000             HR      Delhi
1    102     Ankur   28   D002   60000             IT  Bangalore
2    103      Neha   30   D001   58000             HR      Delhi
3    104  Shashank   26   D003   52000        Finance     Mumbai
4    106     Ronit   29   D002   61000             IT  Bangalore

In [27]:
# Get employees with salary > 25000 using NumPy mask
high_salary_mask = merged_df['Salary'].values > 25000
high_salary_emps = merged_df[high_salary_mask]

print("Employees with Salary > 25000:")
print(high_salary_emps)

Employees with Salary > 25000:
   EmpID      Name  Age DeptID  Salary DepartmentName   Location
0    101    Smriti   25   D001   55000             HR      Delhi
1    102     Ankur   28   D002   60000             IT  Bangalore
2    103      Neha   30   D001   58000             HR      Delhi
3    104  Shashank   26   D003   52000        Finance     Mumbai
4    106     Ronit   29   D002   61000             IT  Bangalore

In [28]:
#left join
merged_left_df = pd.merge(emp_df, dept_df, on='DeptID', how='left')
print(merged_df.head())

   EmpID      Name  Age DeptID  Salary DepartmentName   Location
0    101    Smriti   25   D001   55000             HR      Delhi
1    102     Ankur   28   D002   60000             IT  Bangalore
2    103      Neha   30   D001   58000             HR      Delhi
3    104  Shashank   26   D003   52000        Finance     Mumbai
4    106     Ronit   29   D002   61000             IT  Bangalore

In [29]:
#left join
merged_outer_df = pd.merge(emp_df, dept_df, on='DeptID', how='outer')
print(merged_df.head())

   EmpID      Name  Age DeptID  Salary DepartmentName   Location
0    101    Smriti   25   D001   55000             HR      Delhi
1    102     Ankur   28   D002   60000             IT  Bangalore
2    103      Neha   30   D001   58000             HR      Delhi
3    104  Shashank   26   D003   52000        Finance     Mumbai
4    106     Ronit   29   D002   61000             IT  Bangalore

In [30]:
#left join
merged_right_df = pd.merge(emp_df, dept_df, on='DeptID', how='right')
print(merged_df.head())

   EmpID      Name  Age DeptID  Salary DepartmentName   Location
0    101    Smriti   25   D001   55000             HR      Delhi
1    102     Ankur   28   D002   60000             IT  Bangalore
2    103      Neha   30   D001   58000             HR      Delhi
3    104  Shashank   26   D003   52000        Finance     Mumbai
4    106     Ronit   29   D002   61000             IT  Bangalore

In [33]:
dsc_sorted_emp = emp_df.sort_values(by='Salary', ascending=False)
print (sorted_emp)

   EmpID      Name  Age DeptID  Salary
4    105     Priya   32   D004   65000
5    106     Ronit   29   D002   61000
1    102     Ankur   28   D002   60000
2    103      Neha   30   D001   58000
0    101    Smriti   25   D001   55000
3    104  Shashank   26   D003   52000

In [38]:

merged_df = pd.merge(emp_df, dept_df, on='DeptID', how='inner')
dept_salary_sum = merged_df.groupby('DepartmentName')['Salary'].sum()

print("Department-wise Total Salary:\n", dept_salary_sum)

Department-wise Total Salary:
 DepartmentName
Finance     52000
HR         113000
IT         121000
Name: Salary, dtype: int64

In [44]:
merged_df = pd.merge(emp_df, dept_df, on='DeptID', how='inner')
loc_salary_sum_mean = merged_df.groupby('Location')['Salary'].agg(['sum','mean']).reset_index()
print("Location-wise Total Salary and avg:\n", loc_salary_sum_mean)

print("------------------------------------------------------------------------------------------------------------")

Location-wise Total Salary and avg:
     Location     sum     mean
0  Bangalore  121000  60500.0
1      Delhi  113000  56500.0
2     Mumbai   52000  52000.0
------------------------------------------------------------------------------------------------------------