In [1]:
import pandas as pd

In [18]:
print("reading file")
student_df = pd.read_csv("student_records.csv")
print(student_df)

reading file
   RollNo      Name  CS  Algorithm  Maths  C#
0     101   Saurabh  85         78     90  88
1     102    Smriti  92         80     85  86
2     103       Raj  75         70     80  75
3     104     Aditi  80         88     78  82
4     105     Arnav  65         72     70  65
5     106    Dinesh  90         85     88  91
6     107    Manish  78         76     82  80
7     108  Shraddha  88         84     90  87

In [20]:
print(student_df[student_df['CS']>85])

   RollNo      Name  CS  Algorithm  Maths  C#  TotalMarks
1     102    Smriti  92         80     85  86         300
5     106    Dinesh  90         85     88  91         300
7     108  Shraddha  88         84     90  87         300

In [21]:
print("No of rows and cols ")
print(student_df.shape)

No of rows and cols
(8, 7)

In [25]:
student = pd.read_csv("student_records.csv", usecols = ['RollNo','Name','Algorithm'])
print(student_df)

   RollNo      Name  CS  Algorithm  Maths  C#  TotalMarks
0     101   Saurabh  85         78     90  88         300
1     102    Smriti  92         80     85  86         300
2     103       Raj  75         70     80  75         300
3     104     Aditi  80         88     78  82         300
4     105     Arnav  65         72     70  65         300
5     106    Dinesh  90         85     88  91         300
6     107    Manish  78         76     82  80         300
7     108  Shraddha  88         84     90  87         300

In [26]:
TotalMarks = 300, 300, 300, 300, 300, 300, 300, 300
student_df["TotalMarks"] = TotalMarks
print(student_df)

   RollNo      Name  CS  Algorithm  Maths  C#  TotalMarks
0     101   Saurabh  85         78     90  88         300
1     102    Smriti  92         80     85  86         300
2     103       Raj  75         70     80  75         300
3     104     Aditi  80         88     78  82         300
4     105     Arnav  65         72     70  65         300
5     106    Dinesh  90         85     88  91         300
6     107    Manish  78         76     82  80         300
7     108  Shraddha  88         84     90  87         300

In [32]:
student = student_df[['RollNo', 'Name', 'TotalMarks']]
print(student)

   RollNo      Name  TotalMarks
0     101   Saurabh         300
1     102    Smriti         300
2     103       Raj         300
3     104     Aditi         300
4     105     Arnav         300
5     106    Dinesh         300
6     107    Manish         300
7     108  Shraddha         300

In [40]:
student_df = student_df.drop('C#', errors='ignore')
print(student_df)

   RollNo      Name  CS  Algorithm  Maths  TotalMarks
0     101   Saurabh  85         78     90         300
1     102    Smriti  92         80     85         300
2     103       Raj  75         70     80         300
3     104     Aditi  80         88     78         300
4     105     Arnav  65         72     70         300
5     106    Dinesh  90         85     88         300
6     107    Manish  78         76     82         300
7     108  Shraddha  88         84     90         300

In [33]:
student.loc[student['Name']=='Arnav',['CS']]=[70]
print(student_df)

   RollNo      Name  CS  Algorithm  Maths  C#  TotalMarks
0     101   Saurabh  85         78     90  88         300
1     102    Smriti  92         80     85  86         300
2     103       Raj  75         70     80  75         300
3     104     Aditi  80         88     78  82         300
4     105     Arnav  65         72     70  65         300
5     106    Dinesh  90         85     88  91         300
6     107    Manish  78         76     82  80         300
7     108  Shraddha  88         84     90  87         300

In [41]:
student_df.to_csv('output_pandas.csv', index=False)